// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;  // now we pass both hold and tap in the keymap
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
        };

        // Tap-dance definitions for uppercase on double tap
        td_a: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp A &mt LSHFT A>;
        };
        td_b: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp B &mt LSHFT B>;
        };
        td_c: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp C &mt LSHFT C>;
        };
        td_d: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp D &mt LSHFT D>;
        };
        td_e: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp E &mt LSHFT E>;
        };
        td_f: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp F &mt LSHFT F>;
        };
        td_g: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp G &mt LSHFT G>;
        };
        td_h: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp H &mt LSHFT H>;
        };
        td_i: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp I &mt LSHFT I>;
        };
        td_j: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp J &mt LSHFT J>;
        };
        td_k: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp K &mt LSHFT K>;
        };
        td_l: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp L &mt LSHFT L>;
        };
        td_m: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp M &mt LSHFT M>;
        };
        td_n: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp N &mt LSHFT N>;
        };
        td_o: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp O &mt LSHFT O>;
        };
        td_p: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp P &mt LSHFT P>;
        };
        td_q: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp Q &mt LSHFT Q>;
        };
        td_r: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp R &mt LSHFT R>;
        };
        td_s: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp S &mt LSHFT S>;
        };
        td_t: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp T &mt LSHFT T>;
        };
        td_u: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp U &mt LSHFT U>;
        };
        td_v: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp V &mt LSHFT V>;
        };
        td_w: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp W &mt LSHFT W>;
        };
        td_x: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp X &mt LSHFT X>;
        };
        td_y: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp Y &mt LSHFT Y>;
        };
        td_z: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp Z &mt LSHFT Z>;
        };

        td_quote: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp SQT &mt LSHFT SQT>;
        };

        td_comma: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp COMMA &kp SEMI>;
        };

        td_dot: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp COLON>;   // . → :
        };
    };



    combos {
        compatible = "zmk,combos";
        
        combo_backspace {
            timeout-ms = <50>;
            key-positions = <12 14>; //   S+F 
            bindings = <&kp BSPC>;
        };
        
        combo_delete {
            timeout-ms = <50>;
            key-positions = <13 14>; // D + F
            bindings = <&kp DEL>;
        };

        combo_word_del {
            timeout-ms = <80>;
            key-positions = <17 19>; // L then J
            bindings = <&mt LCTRL BSPC>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
               // Left pinky to index (top row)
               &td_q                &td_w                &td_e                &td_r               &td_t                         &td_y            &td_u               &td_i              &td_o                &td_p
               &ht LSHFT &td_a      &ht LALT &td_s       &ht LCTRL &td_d      &ht LGUI &td_f      &td_g                         &td_h            &ht RGUI &td_j      &ht RALT td_k      &ht RCTRL &td_l      &ht RSHFT &td_quote     
               &td_z                &td_x                &td_c                &td_v               &td_b                         &td_n            &td_m               &td_comma           &td_dot             &kp SLASH
                                                                              &ht TAB SPACE       &kp ENTER                     &kp SPACE        &kp ENTER
        >;
            >;
        };
    };
};
