// SPDX-License-Identifier: MIT

/ {
    behaviors {
        td_a_l: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp A &mt LSHFT A>;
        };

        td_b_l: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp B &mt LSHFT B>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &td_a_l &td_b_l &kp C &kp D &kp E
                &kp F   &kp G   &kp H &kp I &kp J
                &kp K   &kp L   &kp M &kp N &kp O
                &kp P   &kp Q   &kp R &kp S &kp T
                &kp U   &kp V   &kp W &kp X &kp Y
                &kp Z   &kp SPACE &kp ENTER &kp BSPC
            >;
        };
    };
};
